.intro__wrapper {
  background: url(../images/intro__bg.webp) top center no-repeat;
  background-size: cover;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media (max-width: 1200px) {
    // padding-top: 100px;
  }
}

.intro__heading {
  padding-top: 203px;
  padding-bottom: 80px;
  max-width: 780px;
  word-break: break-word;
  @media (max-width: 780px) {
    max-width: 100%;
  }
}

.intro__heading-p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.625rem;
  text-transform: uppercase;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @media (max-width: 750px) {
    font-size: 1.25rem;
    line-height: 1.51rem;
  }
}

.intro__text {
  padding-bottom: 80px;
}

.intro__heading-p_blue {
  color: #3e9cdc;
}

.intro__text-heading {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #000000;
}

.intro__ul {
  list-style-type: '- ';
}

.intro__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 202px;
}

.intro__button-blue {
  min-width: 183px;
  min-height: 43px;

  text-transform: uppercase;
  cursor: pointer;
  background: #3e9cdc;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  &:hover {
    background-color: $color-blue3;
  }
}

.intro__button-white {
  min-width: 183px;
  min-height: 43px;
  text-transform: uppercase;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #6f6d7b;
  border-radius: 4px;
  &:hover {
    background-color: $color-gray4;
  }
}
