$color-white:           #FFFFFF;
$color-blue1:           #42A9ED; 
$color-blue2:           #3E9CDC; 
$color-blue3:           #43ABF0;
$color-gray1:           #3D4050;
$color-gray2:           #272733;
$color-gray3:           #3D4050;
$color-gray4:           #C4C4C4;
$color-bg1:             hsla(240, 29%, 9%, 0.90); // 5A = 90% непрозрачности в HEX
